{% extends "base.html.twig" %}

{% block title %}Survey questions "{{survey.title}}"{% endblock %}

{% block content %}
    <h2 class="page-title">Survey questions "{{survey.title}}"</h2>
    <div id="surveyApp">React App</div>
    
    <div class="questions-list">
        <div class="questions-list__page">
            <h5 class="questions-list__page__title text-center">
                Page 1
            </h5>
            <ul class="questions-list__page__questions questions-list__page__questions__1 list-unstyled">
            </ul>
            <div class="questions-list__page__buttons text-center">
                <a href="#" class="addQuestion btn btn-secondary" data-page="0">Add question</a>
                <a href="#" class="btn btn-secondary">Remove page</a>
            </div>
        </div>
    </div>
    <script>
        var Config = {
            routes:{
                newQuestionForm: '{{path('app_architektura_admin_ajax_question_new_form')}}',
                editQuestionForm: '{{path('app_architektura_admin_ajax_question_add', {id: survey.getId()})}}'
            }
        };
    </script>
{% endblock %}