{% extends "base.html.twig" %}

{% block title %}Survey questions "{{survey.title}}"{% endblock %}

{% block content %}
    <h2 class="page-title">Survey questions "{{survey.title}}"</h2>
    <div id="root">React App</div>
{% endblock %}