.question-content{
    padding: 15px;
    .question-navbar-container{
        position: relative;
        .question-navbar{
            display:none;
            position: absolute;
            top:0px;
            right:0px;
            padding:15px;
        }
        &:hover{
            .question-navbar{
                display: block;
            }
        }
    }
    .question-front.open{
        .form-group{
            margin-bottom:0px;
        }
    }
}
