@import 'variables';
@import 'questions';

body{
    padding-top:56px;
}
#content{
    padding-top:15px;
    padding-bottom:15px;
}
#footer{
    font-size: 0.8em;
    text-align: center;
}
form legend{
    font-size: inherit;
}

.page-title{
    margin-bottom: 15px;
}
.ck-editor__main .ck-editor__editable{
    padding-top: 15px;
    min-height:150px;
}