{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}


{% block content %}
    <h1>Welcome in dashbord</h1>
    <p class="important">
        Welcome on my awesome homepage. {{number}}
    </p>
{% endblock %}