{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}


{% block content %}
    <h1>SimpleForm</h1>
    <p class="important">
        Please register or login if you want create survey!
    </p>
{% endblock %}